 body {
	font-family: 'Nunito Sans', sans-serif;
  	height: 100%;
}

.padding {
	padding-top: 25px;
}

.navbar-default {
  background-color: white;
  border-color: white;	
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
}

ul.nav.navbar-nav {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin:0 auto;
}

.navbar-toggle {
    z-index:3;
}




