 body {
	font-family: 'Nunito Sans', sans-serif;
  	height: 100%;
}

.navbar-brand
{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin:0 auto;
}

.navbar-toggle {
    z-index:3;

}

.navbar-default .navbar-toggle {
    border-color: black;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
}

.navbar-default {
  background-color: #eb0500;
  border-color: #eb0500;
	
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #000;
}

.navbar-default .navbar-nav> li >a {
    color: white;
}

.row {
	min-height: 100px;
}
/*makes it so the least the row height can be is 100px*/

